body {
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #283136;
  line-height: 24px;
  font-weight: 400;
}
h1 {
  font-size: 45px;
  font-family: inherit;
  color: #000000;
  line-height: 45px;
  font-weight: 600;
}
h2 {
  font-size: 36px;
  font-family: inherit;
  color: #000000;
  line-height: 36px;
  font-weight: 700;
}
